
.icon-search:before { content: '\e801'; } /* '' */
.icon-key:before { content: '\e802'; } /* '' */
.icon-menu:before { content: '\e805'; } /* '' */
.icon-wifi:before { content: '\e806'; } /* '' */
.icon-play:before { content: '\e80a'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */