<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <link href="https://fonts.googleapis.com/css?family=Faster+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Faster+One" rel="stylesheet">
  <link href="http://fonts.googleapis.com/earlyaccess/hanna.css" rel="stylesheet">
  <link href="http://fonts.googleapis.com/earlyaccess/nanumpenscript.css" rel="stylesheet">
  <link rel="stylesheet" href="layout.css">
</head>
<body>
  <div class="center">
    <header>
      <h1>the board shop</h1>
    </header>
    <section>
      <nav>
        <ul>
          <li><a href="#">brand</a></li>
          <li><a href="#">long board</a></li>
          <li><a href="#">standard board</a></li>
          <li><a href="#">cruiser board</a></li>
          <li><a href="#">street waer</a></li>
        </ul>
      </nav>
      <article id="art">
        <h1 style="font-family:hanna; font-size: 30px; padding:10px;"><b>디비 크루저 - 캠프 28.75IN 크루져보드 컴플릿 (크루징/트릭/파크)</b></h1>
        <div class="wrap">
          <img src="images/bor.jpg" alt="사진">
          <div class="box">
            <ul><b>
              <li><b>판매가격</b><br><del>184,000원</del> → 169,000원</li>
              <hr>
              <li><b>적립금</b><br>3,380원</li>
              <hr>
              <li><b>배송</b><br>택배50,000원 이상 구매 시 무료</li>
              <hr>
              <li><b>브랜드</b><br>디비롱보드</li>
              <hr><br>
              <li><label for="number">수량</label><input type="number" id="number" name="number" style="width: 30px;"></li><br>
              <li><input type="submit" value="구매하기" class="button" style="height: 30px; width:80px; background-color:rgb(68, 44, 83); color:rgb(244, 228, 235); border: 1px; soild rgb(211, 134, 233);"></input>
              </li>
              <li></li>
            </ul>
            <div class="cc">
              <p>
                미국의 디비 롱보드사에서 오랜기간 준비해 발매된 완성도 높은 크루져보드 컴플릿, '디비 크루져'! 진보된 기술과 디테일한 부분까지 라이더에 맞춰 개발되는 디비 롱보드의 다른 데크들 처럼<br> 디비 크루져의 데크 역시 크루징, 트릭, 파크 등 크루져보드로 당신이 하고자 하는 모든것에 최적화 되어 완성됐습니다.<br> 롱보드 휠 컴퍼니로 유명한 클라우드 라이드 휠의 소프트 휠과 디비 롱보드 사의 베어링과 129미리 TKP
                트럭은 발란스 있게 잘 세팅되어<br> 최적의 주행감을 느낄 수 있으며 더블킥이 있는 데크로 스케이트보드 트릭도 할 수 있도록 디자인 되었습니다.<br> 어디든 함께할 크루져보드를 찾고 있다면 '디비 크루져'가 최고의 선택이 될 것 입니다 :)<br><br>
                <ul>
                  <li> 28.75” x 8”</li>
                  <li> 14.5” wheelbase</li>
                  <li> 64mm 78a Cloud Ride Mini-Cruiser Wheels</li>
                  <li> 100% Canadian Maple</li>
                  <li> Functional nose and tail kicks: 4” nose, 6” tail</li>
                  <li> Wheelwells
                    <</li>
                      <li> 129mm TKP trucks w/ 93a bushings</li>
                      <li> 9mm risers</li>
                      <li> 2.5 kg</li>
                </ul>
                </b>
              </p>

            </div>
            <div class="gallery">
              <img src="images/play1.jpg" alt="사진1" class="play1">
              <img src="images/play2.jpg" alt="사진2" class="play2">
              <img src="images/play3.jpg" alt="사진3" class="play3">
            </div>
          </div>
        </div>
      </article>
    </section>
    <footer>
      Copyright &copy; All rights reserved.
    </footer>
  </div>
</body>

</html>
